.sidebar-toggle-button {
  transition: transform 0.5s;
}

.sidebar-toggle-button.open {
  transform: translateX(0);
}

.sidebar-toggle-button.closed {
  transform: translateX(0);
}

.sidebar {
  transition: transform 0.5s;
}

.sidebar.hidden1 {
  transform: translateX(-520%);
}
